@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family:"Montserrat"  ;
}
body {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3eae3;
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 15px;
    width: 700px;
    height: 500px;
    box-shadow: 1px 1px 15px #f3eae3
}
.parent .background {
    width: 350px;
    height: inherit;
    background: url("img/image-product-desktop.jpg");
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.parent .right {
    width: 350px;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25%;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.parent .right .title {
   position: relative;
}
.parent .right .title h4 , .parent .right .title h1 {
    position: relative;
    left: 30px;
    top: 10px;
}
.parent .right .title h4 {
    letter-spacing: 3px;
    color: #828387;
}
.parent .right .title h1 {
    font-family: "Fraunces";
    font-size: 35px;
}
/* .parent .right .info {
    width: 80%;
    margin: 0 auto
} */
.parent .right .info p {
    position: relative;
    text-align: justify;
    top: 110px;
    left: 30px;
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    color: #828387;
}
/* .parent .right .cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.parent .right .cost span {
    position: relative;
    left: 30px; 
     top: 60px;
}
.parent .right .cost span:nth-child(1) {
    font-family: "Fraunces";
    font-size: 40px;
    color: green;
}
.parent .right .cost span:nth-child(2) {
   left: 80px;
   color: #828387;
}
.parent .right .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent .right .btn a {
    background-color: green;
    width: 80%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius:5px ;
    cursor: pointer;
    transition: 0.3s;
}
.parent .right .btn a:hover {
    background-color: rgb(3, 87, 3);
}

@media (min-width:375px) and (max-width:712px){
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        width: 250px;
        height: 400px;
        place-content: center;
    }
    .parent .background {
        height: 230px;
        background-position: 100%;
        background-repeat: no-repeat;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
    .parent .right {
        border-top-right-radius: 0;
        border-top-left-radius: none;
        border-bottom-left-radius: 15px;
    }
    .parent .right .title h1 {
        font-family: "Fraunces";
        font-size: 30px;
        width: 80%;
    }
    .parent .right .info p {
        top: 50px;
    }
    .parent .right .cost span:nth-child(1) {
        font-family: "Fraunces";
        font-size: 35px;
        color: green;
        top: 30px;
    }
    .parent .right .cost span:nth-child(2) {
        top: 25px;
        left: 40px;
        font-size: 12px;
    }
    
}
@media (max-width:280px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        width: 280px;
        height: 400px;
        position: relative;
        left: 7px;
    }
    .parent .background {
        height: 250px;
        width: 250px;
        border-top-left-radius:15px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:0 ;
    }
    .parent .right {
        height: 380px;
        width: 250px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 15px;
    }
    .parent .right .title h1 {
        font-family: "Fraunces";
        font-size: 20px;
        width: 80%;
    }
    .parent .right .info p {
        top: 40px;
    }
    .parent .right .cost span:nth-child(1) {
        font-family: "Fraunces";
        font-size: 25px;
        color: green;
        top: 30px;
    }
    .parent .right .cost span:nth-child(2) {
        top: 25px;
        left: 40px;
        font-size: 12px;
    }
}



@media (min-width:281px) and (max-width:374px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        width: 280px;
        height: 400px;
        position: relative;
        left: 7px;
    }
    .parent .background {
        height: 250px;
        width: 250px;
        border-top-left-radius:15px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:0 ;
    }
    .parent .right {
        height: 380px;
        width: 250px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 15px;
    }
    .parent .right .title h1 {
        font-family: "Fraunces";
        font-size: 20px;
        width: 80%;
    }
    .parent .right .info p {
        top: 40px;
    }
    .parent .right .cost span:nth-child(1) {
        font-family: "Fraunces";
        font-size: 25px;
        color: green;
        top: 30px;
    }
    .parent .right .cost span:nth-child(2) {
        top: 25px;
        left: 40px;
        font-size: 12px;
    }
}


/* @media only screen and (-webkit-min-device-pixel-ratio: 2.625) { */
@media (min-width:1080px) and (max-width:1080px) {
    
 
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        bottom: 880px;
        right: 100px;
    }
    .parent .background {
        height: 400px;
        width: 400px;
        border-top-left-radius:15px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:0 ;
    }
    .parent .right {
        height: 400px;
        width: 400px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 15px;
    }
    .parent .right .title h1 {
        font-family: "Fraunces";
        font-size: 35px;
        width: 80%;
    }
    .parent .right .info p {
        top: 80px;
    }
}